<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<bean
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<bean id="reportService" class="com.kroger.pharmacy.csr.service.ReportService">
		<property name="reportDirectory" value="/EAF/workspace/csrDownload/testreports/report" />
		<property name="userAuthorizationPropertiesFile" value="/EAF/workspace/csr/src/main/resources/stateAuthorization.properties" />
	</bean>
	
	<bean id="csrService" class="com.kroger.pharmacy.csr.service.CsrService"/>
	
	<bean id="rxExtractService" class="com.kroger.pharmacy.csr.service.RxExtractService"/>
		 
	<bean id="lookupService" class="com.kroger.pharmacy.csr.service.LookupService"/>
</beans>
