<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="dataSource" class="org.springframework.jdbc.datasource.SingleConnectionDataSource">
		<property name="driverClassName"><value>oracle.jdbc.driver.OracleDriver</value></property>
		<property name="url"><value>jdbc:oracle:thin:@u060epm11.kroger.com:1521:ESPSDMDW</value></property>
		<property name="username"><value>esps_extracts</value></property>
		<property name="password"><value>extracts0nly</value></property>
		<property name="suppressClose"><value>true</value></property>
	</bean>

</beans>
